{% extends 'base.html' %}

{% load widget_tweaks %}

{% block titulo %} Matricula | {{ block.super }} {% endblock %}

{% block estilo %}
<script type="text/javascript">
    $(function () {
        $('#id_orders_table tbody tr').formset({
            prefix: 'ordered_items',
            addText: 'add pessoa',
            deleteText: 'remover'
        });
    })
</script>
<style type="text/css">
    .delete-row {
        margin-left: 5px;
    }
</style>
{% endblock %}

{% block cabecalho %} Matriculas
<small>Efetuar matricula.</small>
{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<li><a href="#">Controle de Treinamentos</a></li>
<li>Cargos</li>
<li class="active">Efetuar Matricula</li>
{% endblock %}


{% block container %}
<div>
    <div class="entry">
        {% comment %}
        <!-- You can use a form template with a formset containing data. -->
        <!--table style="display:none">
            <tbody>
                {% with formset.empty_form as form %}
                <tr id="id_empty_form">
                    <td>
                        {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        {{ form.product }}
                    </td>
                    <td>{{ form.quantity }}</td>
                </tr>
                {% endwith %}
            </tbody>
        </table-->
        {% endcomment %}
        <form method="post" action="">
            {{ form.as_p }}
            <h2>Order details</h2>
            <table id="id_orders_table" border="0" cellpadding="0" cellspacing="5">
                <thead>
                <tr>
                    <th scope="col">Pessoa</th>
                </tr>
                </thead>
                <tbody>
                {% for form in formset.forms %}
                <tr id="{{ form.prefix }}-row">
                    <td>
                        {% for fld in form.hidden_fields %}{{ fld }}{% endfor %}
                        {% if form.instance.pk %}{{ form.DELETE }}{% endif %}
                        {{ form.pessoa }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <p>
                {{ formset.management_form }}
                <input type="submit" value="Submit"/>
            </p>
        </form>
    </div>
</div>
{% endblock %}