{% extends 'base.html' %}

{% load widget_tweaks %}

{% block titulo %} Matricula | {{ block.super }} {% endblock %}

{% block estilo %}
<script type="text/javascript">
    $(function () {
        $('form div').formset({
            addText: 'add Pessoa',
            deleteText: 'remover'
        })
    })
</script>
<style type="text/css">
    .delete-row {
        margin-left: 5px;
    }
</style>
{% endblock %}

{% block cabecalho %} Matriculas
<small>Efetuar matricula.</small>
{% endblock %}

{% block breadcrumb %}
{{ block.super }}
<li><a href="#">Controle de Treinamentos</a></li>
<li>Cargos</li>
<li class="active">Efetuar Matricula</li>
{% endblock %}


{% block container %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">Efetuar matricula</h3>

        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-6">
                <div class="entry">
                    <form method="post" action="">
                        {% csrf_token %}
                        <strong style="padding-right: 10px">Treinamento:</strong>{{ form.titulo.value }}
                        {% for form in formset.forms %}
                        <div id="{{ form.prefix }}-row" class="form-group">
                            <label for="{{ form.pessoa.tag_label }}">{{ form.pessoa.label }}</label>
                            {% render_field form.pessoa class='form-control' %}
                        </div>
                        {% endfor %}
                        <p class="box-footer">
                            {{ formset.management_form }}
                            <button type="submit" class="btn btn-primary">Salvar</button>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}