{% extends 'data_table.html' %}

{% block titulo %} Cargos | {{ block.super }} {% endblock %}

{% block cabecalho %} Cargos
    <small>Pesquisa de cargos.</small>
{% endblock %}

{% block breadcrumb %}
    {{ block.super }}
    <li><a href="#">Controle de Atendentes</a></li>
    <li class="active">Cargos</li>
{% endblock %}

{% block titulo_tabela %}
    Cargos
{% endblock %}

{% block url_add %}
    {% url 'cat:add_cargo' %}
{% endblock %}

{% block cabecalho_tabela %}
    <th>#</th>
    <th>Nome</th>
{% endblock %}

{% block corpo_tabela %}
    {% for cargo in cargos %}
        <tr>
            <td>{{ cargo.pk }}</td>
            <td>{{ cargo.nome }}</td>
        </tr>
    {% endfor %}
{% endblock %}
