
<section class="sidebar">

    <!-- Sidebar user panel (optional) -->
    <div class="user-panel">
        <div class="pull-left image">
            <img src="{% static " dist/img/user2-160x160.jpg" %}" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
            <p>{{ user }}</p>
            <!-- Status -->
            {% if user.is_authenticated %} <a href="#"><i class="fa fa-circle text-success"></i>Online</a> {% endif %}
        </div>
    </div>

    <!-- search form (Optional) -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search...">
            <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
    </form>
    <!-- /.search form -->

    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
        <li class="header">MENU DE NAVEGAÇÃO</li>
        <li class="treeview">
            <a href="#"><i class="fa fa-link"></i> <span>Controle de agências</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="{% url 'cag:empresas' %}"><i class="fa fa-circle-o">Empresas</a></li>
                <li><a href="{% url 'cag:regionais' %}"><i class="fa fa-circle-o">Regionais</a></li>
                <li><a href="{% url 'cag:agencias' %}"><i class="fa fa-circle-o">Agências</a></li>
            </ul>
        </li>
        <li class="treeview">
            <a href="#"><i class="fa fa-link"></i> <span>Controle de atendentes</span>
                <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
            </a>
            <ul class="treeview-menu">
                <li><a href="{% url 'cat:cargos' %}"><i class="fa fa-circle-o">Cargos</a></li>
            </ul>
        </li>
    </ul>
    <!-- /.sidebar-menu -->
    <!-- /.sidebar-menu -->
</section>